<% resource = entry.resource %>
<%if resource.is_a?(FileEntry)%>
  <%=render :partial=>"file_entries/meta_file_entry",:locals=>{:file_entry=>resource}%>
<%end%>
<%if resource.is_a?(BookmarkEntry)%>
  <%=render :partial=>"bookmark_entries/meta_bookmark_entry",:locals=>{:bookmark_entry=>resource}%>
<%end%>
<% if entry.from %>
  <div>
    <%= entry.from %>
  </div>
<% end %>
