<% name = @user.name%>
<% if current_user == @user%>
  <% name = "我"%>
<%end%>

<div class="push_1 grid_14">
  <div><%="关注#{name}的人(#{@user.contacters.count})"%></div>
  <%mplist Contacting.contact_id_equals(@user.id).by_created_at(:desc),:for=>Contacting,:partial=>'contactings/info_fans'%>
</div>

<div class="push_2 grid_7">
  <!-- 个人信息 -->
  <%=render :partial=>'users/parts/user_page_info',:locals=>{:user=>@user}%>
</div>
<style type="text/css">
  .contacts{background:url(/images/piece/contacts.png) no-repeat 0 0;width:41px;height:12px;}
  .contacts{display:inline-block;}
</style>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/show_share_content' %>
  <script type="text/javascript">
    $$('.share_content').each(function(share){
      new ShowShareContent(share);
    });
  </script>
<% end %>